<app-nav></app-nav>
<h1 class="text-center mb-4 bg-black p-4 text-white fw-bolder">Add Employee</h1>
<div class="container m-5">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="First Name" aria-label="Username" [(ngModel)]="employeeObj.firstName" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="employeeObj.lastName" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="email" [(ngModel)]="employeeObj.email" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">.com</span>
  </div>

  <div class="input-group mb-3">
    <select class="form-select" aria-label="Default select example" id="department" [(ngModel)]="employeeObj.departmentId" >
      <option value="">Select the Department </option>
      <option value="No Department">No Department</option>
      <option value="Product Development">Product Development</option>
      <option value="Project Management">Project Management</option>
      <option value="Sales and Marketing">Sales and Marketing</option>
      <option value="Customer Support">Customer Support</option>
      <option value="Human Resources">Human Resources</option>
      <option value="Finance and Accounting">Finance and Accounting</option>
      <option value="IT and Infrastructure">IT and Infrastructure</option>
      <option value="Legal and Compliance">Legal and Compliance</option>
      <option value="Administration and Operations">Administration and Operations</option>
      <option value="Product Management">Product Management</option>
    </select>
  </div>


  <div class="input-group mb-3">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="employeeObj.roleId">
      <option value="">Select the Role</option>
      <option value="No Role">No Role</option>
      <option value="Software Developer/Engineer">Software Developer/Engineer</option>
      <option value="Quality Assurance (QA)">Quality Assurance (QA)</option>
      <option value="User Experience (UX) Design">User Experience (UX) Design</option>
      <option value="Research and Development (R&D)">Research and Development (R&D)</option>
      <option value="Project Manager">Project Manager</option>
      <option value="Sales Manager">Sales Manager</option>
      <option value="Marketing Manager">Marketing Manager</option>
      <option value="Technical Support Specialist">Technical Support Specialist</option>
      <option value="Customer Support Representative">Customer Support Representative</option>
      <option value="HR Manager">HR Manager</option>
      <option value="Research and Development (R&D)">Research and Development (R&D)</option>
      <option value="Chief Financial Officer (CFO)">Chief Financial Officer (CFO)</option>
      <option value="Accountant">Accountant</option>
      <option value="IT Manager">IT Manager</option>
      <option value="IT Support Specialist">IT Support Specialist</option>
      <option value="Legal Counsel">Legal Counsel</option>
      <option value="Office Manager">Office Manager</option>
      <option value="Administrative Assistant">Administrative Assistant</option>
      <option value="Product Manager">Product Manager</option>
      <option value="Product Analyst">Product Analyst</option>
    </select>
  </div>



  <button type="button" class="btn btn-success" (click)="addEmployee()">Add Employee</button>

</div>