<h1 class="text-center mb-4 bg-black p-4 text-white fw-bolder">View All Employee</h1>

<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Role</th>
        </tr>
        <tr *ngFor="let employee of employeeList">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName+" "+employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.departmentId}}</td>
            <td>{{employee.roleId}}</td>
        </tr>
    </table>
</div>